<div class="container">
  <div class="row mt-5">
    <div class="col d-flex align-items-center justify-content-between">
      <h2 class="display-4">Ice and Fire Books</h2>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li
            class="page-item"
            [ngClass]="{active: pageNum === pageNumber}"
            *ngFor="let pageNum of pageNumbers"
          >
            <a
              class="page-link"
              (click)="fetchBooks(pageNum)"
            >
              {{pageNum}}
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div
        *ngIf="!books"
        class="text-center"
      >
        Loading...
      </div>
      <div
        class="card my-4"
        *ngFor="let book of books"
      >
        <div class="card-body">
          <h5 class="card-title">{{book.name}}</h5>
          <dl>
            <dt>Authors</dt>
            <dd>{{book.authors.join(', ')}}</dd>
            <dt>Release Date</dt>
            <dd>{{book.released | date:'longDate'}}</dd>
            <dt>ISBN</dt>
            <dd>{{book.isbn}}</dd>
          </dl>
          <div>
            <p class="font-weight-bold">Characters</p>
            <div
              *ngIf="!book.characterDatas"
              class="text-center"
            >
              Loading...
            </div>
            <div class="card-columns">
              <div
                class="card"
                *ngFor="let character of book.characterDatas"
              >
                <div class="card-body">
                  <h5 class="card-title">{{character.name}}</h5>
                  <dl>
                    <dt>Culture</dt>
                    <dd [ngClass]="{'text-muted': !character.culture?.length}">{{character.culture || 'Unknown'}}</dd>
                    <dt>Birth Information</dt>
                    <dd [ngClass]="{'text-muted': !character.born?.length}">{{character.born || 'Unknown'}}</dd>
                    <dt>Titles</dt>
                    <dd [ngClass]="{'text-muted': !character.titles[0].length}">
                      <ng-container *ngFor="let title of character.titles">
                        <span
                          class="badge badge-pill badge-light"
                          *ngIf="title.length"
                        >
                          {{title}}
                        </span>
                      </ng-container>
                      <ng-container *ngIf="!character.titles[0].length">Unknown</ng-container>
                    </dd>
                    <dt>Alias</dt>
                    <dd [ngClass]="{'text-muted': !character.aliases[0].length}">
                      <ng-container *ngFor="let alias of character.aliases">
                        <span
                          class="badge badge-pill badge-light"
                          *ngIf="alias.length"
                        >
                          {{alias}}
                        </span>
                      </ng-container>
                      <ng-container *ngIf="!character.aliases[0].length">Unknown</ng-container>
                    </dd>
                    <dt>Appeard In</dt>
                    <dd>
                      <span
                        class="badge badge-pill badge-light"
                        *ngFor="let book of character.books"
                      >
                        {{bookTitleUrlMap[book]?.name || book}}
                      </span>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
            <button
              class="btn btn-link btn-block"
              *ngIf="book.characterDatas"
              (click)="fetchCharacters(book)"
            >
              Load More Characters
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
